{% extends "scapp/base.html" %}

{% block title %}トピック詳細{% endblock title %}

{% block content %}
<h5 class="mt-4 border-bottom">トピック</h3><br>
<table class="table table-striped">
    <tbody>
        <tr>
            <td></td>
            <td><img src='{{MEDIA_URL}}{{topic.wc_image}}'></td>
        </tr>
    </tbody>
</table>

<h5 class="mt-4 border-bottom">このトピックに近い動画</h3><br>
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>タイトル<br>（このトピックとの類似度）</th>
            <th>動画</th>
        </tr>
        {% for ranking in rankings %}
        <tr>
            <td nowrap>{{ranking.movie.movie_title}}
                <br>({{ranking.similarity}})
            </td>
            <td>
                <a href="{{ranking.movie.movie_url}}">
                {{ranking.movie.movie_url}}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}